<a href="#" [routerLink] = "['/']">Continue Shopping</a>

<div *ngIf="total_payable==0 then empty_cart else display_form"></div>


<ng-template #empty_cart>
  Check out is possible only if you hav items in your cart
</ng-template>

<ng-template #display_form>

<div class="row">

  <div class="col-md-6">
    Your payment amount is {{total_payable }} Rwf. Please enter a local phone number to pay through mobile money
  </div>

  <div class="col-md-6">



          <div *ngIf="show_form then reg_form else msg"></div>

          <ng-template #reg_form>



              <div>
                <div class="processing" *ngIf="processing_payment">Processing your payment....please wait
                  <img src="assets/loading2.gif"/>
                </div>

                  <form [formGroup]="rForm" (ngSubmit)="handleChekout(rForm.value)">






                      <div class="row">

                        <div class="col-md-6">

                          <div class="form-group">
                          <label>Phone</label>
                              <input type="text" class="form-control" formControlName="phone" required="required">
                              <div class="alert  alert-warning" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">Enter a 10 digit Rwandan phone number</div>
                          </div>
                        </div>

                      </div>





                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block" [disabled]="!rForm.valid">Check Out</button>
                      </div>

                  </form>



              </div>

            </ng-template>


            <ng-template #msg>

            <div>

          {{message}}



          </div>
            </ng-template>
          </div>

          </div>








</ng-template>


